:root {
    --orange: #fc6a03;
    --white: #ffff;
    --black: #000;
    --backround1: grey;
    --shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    --lightorange: #FBCEB1;
    --dullorange: #FF7F50;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


/*test*/


/*endbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} of test */



#sliding{

margin-bottom: 90px;

}

#carouselExampleDark{
height:600px;
margin-top: 90px;


}

#bootom{
    margin-top: 90px;
    width: 100%;
    height: 500px;
}

#linkk{

text-decoration: none;
color: orangered;

}

#whychooseus{

    background-color:orangered; 
    color:white; 
    height:600px;
  
    margin-bottom: 100px;
}

#nametag{

    margin-bottom: -90px;
    font-weight: bolder;
    color: orangered;
    align-self: center;
}
.stat{

    color: orangered;
    font-weight: bolder;
    margin-top:30px;
}
#profile{

    margin-top: 20px;
}

#icon{

    color: var(--orange);
}

#subtitles{

    font-weight: bolder;
    font-size:medium;
    color: black;
}